@import "tailwindcss";

@layer base {
  :root {
    color-scheme: light;
  }

  body {
    @apply bg-slate-100 text-slate-900 antialiased;
  }

  #root {
    @apply min-h-screen;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-thin::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background-color: rgb(148 163 184 / 0.7);
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
